<div class="container">
  <!-- Section for contact details -->
  <div class="text-center border mt-2 mb-5 shadow rounded">
    <h1 class="mt-2">Contact</h1>
    <p>
      <!-- Email contact with mailto link -->
      I can be reached at the following email:
      <a href="mailto:personal.email" target="_blank" class="a-link"><b>{{ personal.email }}</b></a>
    </p>
    <p>Feel Free to connect with me on any of the following platforms:</p>
  </div>

  <!-- List of social/contact platforms with icons and titles -->
  <div class="list-group shadow" style="align-items:center;" *ngFor="let contact of personal.contacts">
    <a [href]="contact.href" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
      <!-- Contact platform icon -->
      <img [src]="contact.img" alt="contact.title" width="40" height="40" class="flex-shrink-0 me-5">
      <!-- Contact platform title -->
      <h2 class="mt-0 mb-0">{{ contact.title }}</h2>
    </a>
  </div>
</div>