.links-container {
  text-align: center;
}

.links-container p {
  display: inline-block;
  margin: 0 10px;
}

.links-container a {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

.links-container a:hover {
  color: #ff6347;
}

.links-container a:active {
  color: #228b22;
}

.links-container a:focus {
  color: #4169e1;
}

.links-container a:visited {
  color: #800080;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 1em 0;
  width: 100%;
}