<!-- Navigation bar with links to different sections -->
<nav class="navbar-expand border-top border-bottom mb-3"> 
    <div class="container"> <!-- Centers the navigation items -->
        <ul class="nav justify-content-center"> <!-- Horizontally centers the nav links -->
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-dark">Home</a> <!-- Home link -->
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/projects" routerLinkActive="text-dark">Projects</a> <!-- Projects link -->
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/resume" routerLinkActive="text-dark">Resume</a> <!-- Resume link -->
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/contact" routerLinkActive="text-dark">Contact</a> <!-- Contact link -->
            </li>
        </ul>
    </div>
</nav>
