/* Styles for the toggle switch input */
.form-check-input {
    height: 25px; 
    width: 50px;  
}

/* Styles for the toggle switch label */
.form-check-label {
    margin-left: 10px; 
    font-size: 18px;   
    line-height: 32px; 
}
