<!-- Dark Mode Toggle Switch -->
<div class="form-check form-switch">
    <!-- Checkbox input for toggling dark mode; Binds the checked state to the darkMode property and triggers toggleDarkMode() on change -->
    <input class="form-check-input" type="checkbox" id="flexSwitchCheck" [checked]="darkMode"(change)="toggleDarkMode()">

    <!-- Label for the checkbox, associated with the input via the 'for' attribute -->
    <label class="form-check-label" for="flexSwitchCheck">Dark Mode</label>
</div>