<div class="modal-header">
    <h2>{{ project.title }}</h2>
    <button class="btn-close" (click)="modalRef.hide()"></button>
</div>
<div class="modal-body">
    <carousel>
        <slide *ngFor="let img of project.imgs">
            <img [src]="img" alt="Image for {{ project.title }}" class="w-100 border border-dark border-opacity-75 border-3"> <!-- Project image -->
        </slide>
    </carousel>
    <h3 class="mt-2">Description</h3>
    <p>{{ project.modalDescription }}</p>
    <div class="d-flex justify-content-center">
        <a class="btn btn-success me-5" [href]="project.links.livePreview" target="_blank">Live Preview</a> <!-- Live Preview button -->
        <a class="btn btn-dark me-5" [href]="project.links.github" target="_blank">GitHub</a> <!-- GitHub button -->
    </div>

    <hr>

    <div class="d-flex justify-content-center">
        <div *ngFor="let tag of project.tags" class="tag me-5 modal-tag" [ngStyle]="{'background-color': getTagColor(tag)}">
            {{ tag }}
        </div>
    </div>
</div>