<div class="containter text-center">
    <button (click)="downloadResume()" class="btn btn-primary me-2 mb-5 shadow border">
        Download PDF Resume
    </button>
    <button (click)="viewResume()" class="btn btn-primary mb-5 shadow border">
        View Resume
    </button>

    <div class="pb-2 mx-auto w-75">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group [(isOpen)]="isEducationOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Education</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isEducationOpen" style="color: white;">></div>
                        <div *ngIf="isEducationOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">Computer Systems Technology - Software Development and Network Engineering</h2>
                    <h3 class="text-primary">Sheridan College</h3>
                    <ul>
                        <li>Graduated with Honours</li>
                        <li>Completed 3 years of full-time studies</li>
                    </ul>
                </div>
            </accordion-group>
            <accordion-group heading="Work Experience">

            </accordion-group>
            <accordion-group heading="Volunteering">

            </accordion-group>
            <accordion-group heading="Certifications">

            </accordion-group>
            <accordion-group heading="Skills">

            </accordion-group>
        </accordion>
    </div>
</div>