/* Resume Button */
.resume-button {
    background-color: #a1ebde;
}

/* Button link size */
accordion-group::ng-deep .btn-link {
    font-size: 18px;
}

/* Card header background */
accordion-group::ng-deep .card-header {
    background-color: #a1ebde;
}