/* Global styles for the body */
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #48464c;
}

/* Container styles with a maximum width */
.container {
    max-width: 80%;
}

/* Styles for tags */
.tag {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    color: white;
}