/* Global styles for the body */
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

/* Container styles with a maximum width */
.container {
    max-width: 1200px;
}

/* Styles for tags */
.tag {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: blue;
    color: white;
}

/* Link styling for certifications */
.a-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s, text-decoration 0.3s;
}

/* Hover effect for certification links */
.a-link:hover {
    text-decoration: underline;
    color: #007bff;
}